@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: lightblue;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: lightblue;
    --foreground: black;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* set default to 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.4;
}

nav {
  align-items: center;
  background: dimgray;
  color: lightgrey;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  border-bottom: 2px solid transparent;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 2px solid #007bff;
  transition: border-bottom 0.3s ease;
}

button {
  background: darkblue;
  border-radius: 5px;
  border: 1px solid #007bff;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}

button:hover {
  background: navy;
}

h1,
h2,
h3 {
  font-family: "Caveat", "cursive";
  font-weight: 400;
  margin: 0;
}

h1 {
  background: #f0f8ff;
  border-radius: 5px;
  font-size: 3.5rem;
  line-height: 0.85;
  padding: 10px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
}

legend {
  font-size: 1.8rem;
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-md-6 {
  flex: 0 0 50%;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjusted column size */
  gap: 20px; /* Ensures spacing between cards */
  padding: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: space-between; /* Ensures text on left and icons on right */
  align-items: center;
  background: #222;
  color: #d3d4d6;
  padding: 10px 20px;
}

.socials {
  list-style-type: none;
  display: flex; /* Keeps icons in a single row */
  gap: 20px;
  margin: 0;
  padding: 0;
}

.socials li {
  display: inline-block;
}

.socials img {
  height: 32px;
  width: 32px;
  transition: opacity 0.3s ease;
}

.socials img:hover {
  opacity: 0.5;
}
